{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center fw-bold text-danger ">Order Details</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3 ms-4 me-4 text-danger fw-bold">
      <label class="form-label ">Address</label>
      <input type="text" class="form-control " name="a" placeholder="Enter the Address">
    </div>
    <div class="mb-3 ms-4 me-4 text-danger fw-bold">
      <label class="form-label ">Phone number</label>
      <input type="password" class="form-control " name="p" placeholder="Enter the Phone number">
    </div>
    <div class="mb-3 ms-4 me-4 text-danger fw-bold">
      <label class="form-label ">Pincode</label>
      <input type="password" class="form-control " name="pi" placeholder="Enter the pincode">
    </div>
    <div class="mb-3 ms-4 me-4 text-danger fw-bold">
        <input type="submit" class="form-control" >
    </div>
</form>

{% endblock %}